body {
	background-color: green;
	text-align: center;
	position: relative;
	top: 135px;
}
.hidden {
  font-size: 45px;
  visibility: hidden;
  background: red;
  border: 10px dotted blue;
  padding: 10px;
}
.hidden:hover {
  visibility: visible;
}

.visible {
  border: 1px solid black;
  visibility: visible;
}